@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.just-me-again-down-here-regular {
	font-family: 'Just Me Again Down Here', cursive;
	font-weight: 400;
	font-style: normal;
	color: #ffffff;
	scale: 5;
}
.just-me-again-down-here-regular-no-scale {
	font-family: 'Just Me Again Down Here', cursive;
	font-weight: 400;
	font-style: normal;
}

.just-me-again-down-here-small {
	font-family: 'Just Me Again Down Here', cursive;
	font-weight: 400;
	font-style: normal;
	color: #000000;
}

.nunito-sans-normal {
	font-family: 'Nunito Sans', sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-variation-settings: 'wdth' 100, 'YTLC' 500;
}

/* .pizzaHeaderContainer {
	width: 100%;
	height: 400px;
	position: relative;
} */

/* .pizzaHeaderImage {
	width: 100%;
	height: 400px;
	object-fit: cover;
} */

/* .headerLineLeft {
	left: 0%;
	top: 50%;
	position: absolute;
	height: 3px;
	width: 31%;
	transform: translate(0%, -50%);
	background: #ffffff;
	z-index: 10;
} */

/* .headerLineRight {
	left: 69%;
	top: 50%;
	position: absolute;
	height: 3px;
	width: 31%;
	transform: translate(0%, -50%);
	background: #ffffff;
	z-index: 10;
} */

/* .headerLogoContainer {
	left: 31%;
	top: 50%;
	position: absolute;
	width: 38%;
	transform: translate(-5%, -50%);
	z-index: 10;
	display: inline-flex;
	align-items: center;
	justify-content: center;
} */

/* .bowlContainer {
	margin-right: 100px;
} */

.bowl {
}

/* .bowlReflectionBig {
	left: 26%;
	top: 55%;
	position: absolute;
	width: 2%;
} */

/* .bowlReflectionSmall {
	left: 28.5%;
	top: 72%;
	position: absolute;
	width: 0.6%;
} */

/* .searchBarDefault {
	left: 3%;
	margin-top: 50px;
	position: absolute;
	width: 20%;
} */

/* .searchBarHovered {
	left: 3%;
	margin-top: 50px;
	position: absolute;
	width: 20%;
} */

/* .difficultyContainer {
	left: 61%;
	margin-top: 50px;
	position: absolute;
	width: 38%;
	display: inline-flex;
	align-items: center;
	justify-content: space-evenly;
	height: 35px;
} */

/* .difficultyButtonDefault {
	width: 18%;
	height: 35px;
	border-radius: 10px;
	border: 1.5px solid #000000;
	display: inline-flex;
	align-items: center;
	justify-content: center;
} */

/* .difficultyButtonChosen {
	width: 18%;
	height: 35px;
	border-radius: 10px;
	border: 1.5px solid #000000;
	display: inline-flex;
	align-items: center;
	justify-content: center;
} */

/* .RecipiesContainer {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
	gap: 2.5em;
	margin-top: 150px;
	margin-left: 45px;
	margin-right: 45px;
} */

/* .RecipeCard {
	width: 100%;
	height: 585px;
	border-radius: 10px;
	border: 1.5px solid #000000;
} */

/* .RecipeCardImage {
	height: 260px;
	width: 100%;
	object-fit: cover;
	border-radius: 10px;
} */

/* .RecipeTag {
	border-radius: 10px;
	border: 1.5px solid #c65f00;
} */
